<?xml version="1.0"?>
<!--
/**
 * @package   Thecoachsmb\CustomerAttribute
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:CustomerAttribute/etc/module.xsd">
    <module name="Akshay_CustomerAttribute" setup_version="1.1.1" />
</config>